# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f1d1ee620417ddc6bdb8cd0dbdf8bab9d01fdd5b78a7f240aee5c989f8071e8bd9b0fe6c546c9be8b692f985b4506a1172cb7c7efd65cdd3aa1bdaf6dba558a1

test:
  secret_key_base: 4a55cd7e1fffc891aaaa49b08c5b5d974d4b6ad1f2930440a900d4c9d7b5ab1f55ae1ab30fbee7f23b2a92a6ccf7c41084ff638a1ac04305522e5cac214297f3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
