$color-footer: #101010;
$color-text: #9D9D9D;


.table th, td{
	text-align: center;
}


/*==================
  FOOTER
  ==================*/

/* Set black background color, white text and some padding */
footer {
  background-color: $color-footer;
  color: $color-text;
  padding: 15px;
  margin-top: 5%;
}