<table class="table table-hover">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Produkt</th>
        <th>Summe</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @expense.date %></td>
          <td><%= @expense.article %></td>
          <td><%= @expense.price %></td>
          <td><%= @expense.note %></td>
        </tr>
    </tbody>
</table>



